@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
body {
	font-family: helvetica, arial;
	font-size: 14px;
	color: #333;
	background: #34495e;
	overflow: hidden;
}

#outer-container {
	padding: 20px;
	margin: 50px auto;
	width: 630px;
	background: #ecf0f1;
	border: 1px solid #888;
	border-radius: 5px;
	height: 600px;
}

.sub-title {
	font-size: 2em;
	text-align: center;
	margin: 10px 20px;
	margin-left: 60px;
	font-family: 'Slabo 27px', serif;
}

.hidden {
	display: none;
}

/* Pick winner/clear-all actions*/
.hidden-trigger {
	/* Use opacity: 0 if you want it to be invisible until hover */
	/*opacity: 0;*/
	opacity: 0.9;
}

.hidden-trigger:hover{
	opacity: 0.8;
}

/* Place the pick winner/clear all in a relatively hidden spot
   bottom left, and bottom right respectively */
#pick-winner {
	text-align: center;
	background-color:#2ecc71;
	padding: 10px;
	margin-top: 10px;
	color: #fff;
	border-radius: 7px;
}

#clear-all-safety {
	text-align: center;
	background-color: #e74c3c;
	margin-top: 15px;
	padding: 10px;
	color: #fff;
	border-radius: 7px;
}

#clear-all {
	text-align: center;
	padding: 5px;
	margin-top: 5px;
	border-radius: 7px;
	color: #fff;
	background-color: #e74c3c;
	font-weight: bold;
}
/* File area */
#file-trigger {
	position: absolute;
	bottom: 50px;
	right: 10px;
}

#file-area {
	position: absolute;
	top: 30px;
	left: 30px;
	display: none;
}

#file-submit {
	font-size: 14px;
	padding: 4px;
	border: 1px solid #333;
	margin-top: 10px;
	border-radius: 3px;
}

#file-submit:hover {
	cursor: pointer;
}

#file-submit:disabled {
	cursor: not-allowed;
	border: 1px solid #999;
	background: #ccc;
	color: #aaa;
}

/* Input area */
#name-input {
	font-size: 30px;
	font-family: helvetica;
	width: 620px;
	padding: 5px;
	border-radius: 3px;
	background-color: #ecf0f1;
	outline: none;
	border: 2px solid #ccc;
}

#name-input::-webkit-input-placeholder {
	color: #aaa;
	text-align: center;
}

.num-entries {
	float: right;
	color: #ccc;
}

/* List of names */
#name-list-container {
	overflow-y: auto;
	height: 375px;
	margin-top: 10px;
	margin-right: -20px;
	padding-right: 20px;
}


ul {
	list-style: none;
	padding: 0;
}

.name-list li {
	display: table;
	table-layout: fixed;
	width: 300px;
	font-size: 22px;
	margin: 10px 0;
}

.name-list.left {
	float: left;
}

.name-list.right {
	float: right;
}

.row {
	display: table-row;
}

.row:hover {
	background-color: #dedede;
}

.name {
	display: table-cell;
	padding: 5px;
	background-color: #1abc9c;
	border-top-right-radius: 7px;
	color: #fff;
	border-bottom-right-radius: 7px;
}

.remove{
	display: table-cell;
	padding: 5px;
	background-color: #1abc9c;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

/* Selecting name */
#selecting-name {
	font-size: 120px;
	font-weight: bold;
	text-align: center;
	padding: 60px 0;
	color: #888;
}

/* Winner */
.winner {
	position: relative;
	display: table;
	width: 100%;
}

.winner .name {
	padding: 0;
}

#selecting-name {
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	z-index: 5000;
	position: relative;
}

#selecting-name.final-winner {
	color: #333;
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
}

.winner .icon-font.remove {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	font-size: 50px;
}

.winner .icon-font.remove:hover {
	opacity: 0.5;
	color: #fff;
}

#pick-another {
	font-size: 80px;
	color: #777;
	line-height: 80px;
}

#pick-another:hover {
	color: #333;
	cursor: pointer;
}

#blanket {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.65;
	z-index: 1;
}

/* Icon fonts thanks to fontello - http://fontello.com/ */
@font-face {
	font-family: 'fontello';
	src: url("fontello/fontello.eot");
	src: url("fontello/fontello.eot?#iefix") format('embedded-opentype'), url("fontello/fontello.woff") format('woff'), url("fontello/fontello.ttf") format('truetype'), url("fontello/fontello.svg#fontello") format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-font {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	line-height: 1em;
}

.remove::before {
	content: 'a';
	color: #fff;
}

.remove:hover::before {
	content: 'b';
	color: #e74c3c;
	opacity: 1;
}

